<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @submission.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @submission.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @submission.slogan %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Home', root_path %>
