<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @rider.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rider.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @rider.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @rider.state %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @rider.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @rider.longitude %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
